.userProfile {
  min-height: 73.9vh;
}

.UserFormSection {
  margin-bottom: 40px;
}

.StatisticListSection {
  margin-bottom: 40px;
}

.recipesListSection {
  margin-bottom: 108px;
}

.recipesListHeader {
  margin-bottom: 40px;
}
