.recipesBox {
  margin-bottom: 65px;
}

.recipesBox {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loadButton {
  margin: 0 auto;
  width: 309px;
}

.noRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noRecipeText {
  color: rgb(253, 177, 0);
}
