.recipeForm {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 106px;
}

.baseErrorStyle {
  color: rgba(37, 41, 45, 0.3);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
}
