.previewSection {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.headerPreview {
    width: 602px;
    height: 800px;
    transform: translateY(-77px);
    z-index: -1;
}

.previewBlock {
    max-width: 688px;
    margin: 133px 0 0 120px;
}

.headText {
    text-align: left;
}

.subheadingText {
    color: rgb(74, 82, 90);
    width: 566px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 42px;
}

.links {
    display: flex;
}

.plus {
    width: 14px;
    height: 14px;
    color: rgb(255, 255, 255);
    margin-right: 28px;
}