.homePageImage {
  position: absolute;
  width: 602px;
  height: 800px;
  top: -211px;
  right: -100px;
  z-index: -1;
}

.previewContainer {
  max-width: 688px;
  margin: 133px 0 352px 0;
  position: relative;
}

.text {
  color: rgb(74, 82, 90);
  width: 566px;
  margin-top: 16px;
  margin-bottom: 42px;
}

.linksBox {
  display: flex;
}

.plusIcon {
  width: 14px;
  height: 14px;
  margin-right: 28px;
}

.loginButton {
  width: 216px;
}
