.favourites {
  min-height: 70vh;
}

.recipesListSection {
  margin-bottom: 108px;
}

.recipesListBlock {
  margin-bottom: 65px;
}

.loadButton {
  margin: 0 auto;
  width: 309px;
}

.noRecipesBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noRecipeText {
  color: rgb(253, 177, 0);
}
