.tagListBox {
  border-radius: 24px;
  box-shadow: 0px 16px 72px 0px rgba(34, 39, 47, 0.05);
  background: rgb(255, 255, 255);
}

.iconBox {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: rgb(255, 239, 204);
  padding: 13px 14px;
  margin-bottom: 24px;
}

.icon {
  width: 22px;
  height: 24px;
}

.tagTextBase {
  color: rgb(74, 82, 90);
  line-height: 30px;
  margin-top: 16px;
}
