.recipesList {
  min-height: 73.9vh;
}

.tagListBox {
  margin-bottom: 50px;
}

.tagList {
  box-sizing: border-box;
  width: 278px;
  height: 164px;
  padding: 24px 0px 36px 24px;
}

.searchBox {
  position: relative;
  margin-bottom: 80px;
}

.paramSection {
  margin-bottom: 108px;
}

.paramBox {
  display: flex;
  flex-direction: row-reverse;
}

.paramButton {
  margin-left: 0;
  width: 150px;
}

.recipesListSection {
  margin-bottom: 108px;
}
