.recipesList {
  min-height: 73.9vh;
}

.tagListBox {
  margin-bottom: 50px;
}

.tagList {
  box-sizing: border-box;
  width: 278px;
  height: 164px;
  padding: 24px 0px 36px 24px;
}

.searchBox {
  position: relative;
  margin-bottom: 108px;
}

.recipesListSection {
  margin-bottom: 108px;
}
