.miniTagsListBox {
  display: flex;
  position: absolute;
  left: 287px;
  bottom: -27px;
}

.miniTagText {
  cursor: pointer;
  color: rgb(128, 128, 128);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 25px;
}

.miniTagText:not(:last-child) {
  margin-right: 25px;
}

.miniTagText:hover {
  transform: translateY(-1px);
}

.miniTagText:active {
  transform: translateY(1px); /* Опускаем кнопку вниз */
  transition: transform 0.1s ease;
}
