.cardContainer {
  position: relative;
  width: 100%;
  min-height: 430px;
  display: flex;
  z-index: 10;
}

.margin {
  margin-bottom: 40px;
}

.cardPhoto {
  position: relative;
  width: 430px;
  max-height: 430px;
  border-radius: 72px 0px 72px 0px;
  background: rgb(255, 239, 204);
}

.avatarImage {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 72px 0px 72px 0px;
  object-fit: fill;
  z-index: 1;
}

.cardBackground {
  position: absolute;
  width: 430px;
  min-height: 100%;
  box-shadow: 0px 16px 72px 0px rgba(34, 39, 47, 0.05);
  z-index: 1;
}

.cardInformation {
  box-sizing: border-box;
  padding: 36px 30px 65px 53px;
  width: 770px;
  box-shadow: 0px 16px 72px 0px rgba(34, 39, 47, 0.05);
}

.cardHeader {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  margin-bottom: 34px;
}

.tagsContainer {
  display: flex;
}

.tagBox {
  min-width: 90px;
  height: 25px;
  border-radius: 5px;
  background: rgb(253, 177, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagBox:not(:first-child) {
  margin-left: 5px;
}

.tagText {
  color: rgb(242, 158, 31);
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
}

.cardInfoHeader {
  margin-bottom: 16px;
}

.cardInfoTextBox {
  width: 571px;
  margin-bottom: 40px;
}

.cardInfoText {
  color: rgb(74, 82, 90);
  font-weight: 400;
  line-height: 30px;
}

.cardNumerableContainer {
  display: flex;
}

.cardNumerableBox {
  height: 64px;
  display: flex;
  align-items: center;
}

.cardNumerableBox:not(:first-child) {
  margin-left: 71px;
}

.timeIcon {
  width: 48px;
  height: 56px;
  margin-right: 20px;
}

.personIcon {
  width: 58.67px;
  height: 37.33px;
  margin-right: 15px;
}

.cardNumerableHeader {
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 5px;
}

.cardNumerableTime {
  font-size: 16px;
}
