.baseBox {
  position: relative;
}

.baseField {
  box-sizing: border-box;
  display: block;
  width: 580px;
  height: 50px;
  padding: 0 26px;
  border: 1px solid rgba(145, 150, 161, 0.4);
  border-radius: 16px;
  margin: 0;
  resize: none;
  color: rgb(37, 41, 45);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: Montserrat;
}

.textPadding {
  padding-top: 15px;
}

textarea.baseField {
  border: white;
  border-top: 20px solid white;
  box-shadow: 0 0 0 1px rgba(145, 150, 161, 0.4);
  padding: 0px 25px 15px 26px;
}

select.baseField {
  padding: 0 18px;
}

.selectField {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.marginBox {
  margin-bottom: 20px;
}

.baseFieldLabel {
  position: absolute;
  top: 11px;
  left: 26px;
}

.baseField:focus ~ .baseFieldLabel,
.baseField:not(:placeholder-shown).baseField:not(:focus) ~ .baseFieldLabel {
  font-size: 12px;
  top: 0;
}

.baseErrorStyle {
  color: rgb(253, 177, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}

.selectArrow {
  position: absolute;
  left: 181px;
  top: 13px;
  pointer-events: none;
}
