.baseLink {
  width: 278px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseLink:hover {
  box-shadow: 0 0 20px rgb(253, 177, 0.5); /* Эффект свечения */
  transform: translateY(-2px);
}

.baseLink:active {
  transform: translateY(2px); /* Опускаем кнопку вниз */
  transition:
    background-color 0.1s ease,
    box-shadow 0.1s ease,
    transform 0.1s ease;
}

.linkPrimary {
  background: rgb(253, 177, 0);
}

.linkSecondary {
  box-sizing: border-box;
  border: 1px solid rgb(253, 177, 0);
}

.baseText {
  font-weight: 600;
  text-align: center;
}

.textPrimary {
  color: rgb(255, 255, 255);
}

.textSecondary {
  color: rgb(253, 177, 0);
}
